<div id="mobile-menu">
    <div class="mobile-menu-inner">
        <div class="menu-header"> 
            <span>Menu</span>
        </div>
       
        <ul>
            {% for link in linklists.main-menu-new.links %}
                {% if link.links != blank %}
                    <li>
                        <a 
                            href="#" 
                            data-ref="{{link.title}}" 
                            class="has-submenu"
                        >
                            <span>{{link.title}}</span>
                            <img class="hero__logo-image" src="{{ 'fat_chevron_right.svg' | asset_url }}">
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{link.url}}">
                            {{link.title}}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="mobile-search-link">
                <a href="/search">
                   Search {% include 'icon-search' %} 
                </a>
            </li>
        </ul>
            {% for link in linklists.main-menu-new.links %}
                {% if link.links != blank %}
                    <div class="mobile-menu-panel" data-menu="{{link.title}}">
                            <div class="menu-header">
                                <button data-ref="main" class="mobile-back">
                                    <img class="hero__logo-image" src="{{ 'fat_chevron_left.svg' | asset_url }}"> 
                                    <span>{{link.title}}</span>
                                </button>
                            </div>
                            <ul>
                                    {% for sub_link in link.links %}
                                        {% if sub_link.links != blank %}
                                            <li>
                                                <a 
                                                    href="#" 
                                                    data-ref="{{link.title}}{{sub_link.title}}" 
                                                    class="has-submenu"
                                                >
                                                    <span>{{sub_link.title}}</span>
                                                    <img class="hero__logo-image" src="{{ 'fat_chevron_right.svg' | asset_url }}">
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="{{sub_link.url}}">
                                                    {{sub_link.title}}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                            </ul>
                    </div>

                    {% for sub_link in link.links%}
                        {% if sub_link.links != blank %}
                            <div class="mobile-menu-panel" data-menu="{{link.title}}{{sub_link.title}}">
                                    <div class="menu-header">
                                        <button data-ref="main" class="mobile-back">
                                            <img class="hero__logo-image" src="{{ 'fat_chevron_left.svg' | asset_url }}"> 
                                            <span>{{sub_link.title}}</span>
                                        </button>
                                    </div>
                                    <ul>
                                            {% for final_link in sub_link.links %}
                                                {% if final_link.links != blank %}
                                                    <li>
                                                        <a 
                                                            href="#" 
                                                            data-ref="{{final_link.title}}" 
                                                            class="has-submenu"
                                                        >
                                                            <span>{{final_link.title}}</span>
                                                            <img class="hero__logo-image" src="{{ 'fat_chevron_right.svg' | asset_url }}">
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="{{final_link.url}}">
                                                            {{final_link.title}}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                    </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
    </div>
</div>
